@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto, Condensed', sans-serif;
    line-height: 180%;
    color: #444 ;
    text-align: center;
}

.foto1{
    background-image: url(../assets/1.jpg) ;
    min-height: 100%;
   
    
}
.foto2{
    background-image: url(../assets/2.jpg) ;
    min-height: 100%;
   
}

.foto3{
    background-image: url(../assets/3.jpg) ;
    min-height: 100%;
   
}

.foto1, .foto2, .foto3{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.letrero{
    color: #fbfbfb;
    font-size: 550%;
    position: absolute;
    top: 50%;
}
.letrero2{
    color: #190909;
    font-size: 350%;
    top: 61%;

}

.letrero3{
    color: #000000;
    font-size: 350%;
    top: 70%;

}

.letrero, .letrero2, .letrero3, .letrero4{
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}